---
layout: default
---
<article class="post">
  <h1>{{ page.title }}</h1>
  <p class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</p>
  <div class="post-content">
    {{ content }}
  </div>
</article>
<hr>
<section id="comments" style="min-height:200px;">
  <!-- Lazy-load comments: defer until idle or after 2s -->
  <script>
    (function() {
      function loadComments() {
        var s = document.createElement('script');
        s.src = 'https://utteranc.es/client.js';
        s.setAttribute('repo', 'lxsoftroxs/lxsoftroxs.github.io');
        s.setAttribute('issue-term', 'pathname');
        s.setAttribute('theme', 'github-dark');
        s.setAttribute('crossorigin', 'anonymous');
        s.async = true;
        document.getElementById('comments').appendChild(s);
      }
      if ('requestIdleCallback' in window) {
        requestIdleCallback(loadComments);
      } else {
        setTimeout(loadComments, 2000);
      }
    })();
  </script>
</section>
